@use "./../../foundation/global" as *;

.splide {
  &__track {
  }
  &__list {
  }
  &__slide {
    overflow: hidden;
    // height: 80vh;
    // padding-top: 5vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// .splide__slide .is-next {
//   .slide {
//     pointer-events: none;
//     opacity: 0.3;
//     filter: brightness(60%);
//   }
// }
