@use "./../../foundation/global" as *;
.c-timeline {
  // & > * {
  //   border: solid 1px;
  // }
  // & > * > * {
  //   border: solid 1px;
  // }
  margin: 0 auto;

  &__heading {
    font-size: fluid(28, 36, 1441, 2550);
    font-weight: bold;

    padding: 1rem;
    padding-bottom: 3rem;
    @include mq(xl) {
      font-size: 28px;
    }
    @include mq(lg) {
      font-size: 20px;
    }
    @include mq(md) {
      font-size: 16px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    @include mq(md) {
      flex-direction: column;
      margin-left: 2rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 5);

    @include mq(md) {
      position: relative;
      width: 100%;
      &::before {
        content: "";
        display: block;
        background-color: $c-main;
        position: absolute;
        margin: auto;
        top: 22px;
        left: -1rem;

        width: 1rem;
        height: 1rem;
        border-radius: 100%;
      }
      &::after {
        content: "";
        background-color: $c-main;
        display: block;
        position: absolute;
        // right: 50%;
        top: 46px;
        left: -10px;
        height: 98%;
        width: 3px;
      }
    }
  }
  &__date {
    font-size: fluid(24, 24, 1441, 2550);
    // font-weight: bold;
    // font-size: 36px;

    padding: 1rem;

    @include mq(xl) {
      font-size: 24px;
    }
    @include mq(lg) {
      font-size: 18px;
    }
    @include mq(md) {
      font-size: 16px;
    }

    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: $c-main;
      position: absolute;
      margin: auto;
      bottom: -1rem;
      left: 1rem;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      // border-radius: 100px;
      @include mq(md) {
        visibility: hidden;
      }
    }
    &::after {
      content: "";
      background-color: $c-main;
      display: block;
      position: absolute;
      // right: 50%;
      left: 40px;
      bottom: -8px;
      width: 100%;
      width: 98%;
      height: 1px;
      @include mq(md) {
        visibility: hidden;
      }
    }
  }
  &__desc {
    padding: 1rem;
    padding-top: 3rem;
    @include mq(md) {
      padding-top: 1rem;
    }
  }
}
