@use "./../../foundation/global" as *;

.u-only-lg {
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.b-bottom {
  border-bottom: 1px solid;
}

.b-bottom-right {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.b-right {
  border-right: 1px solid;
}
