@use "./../../foundation/global" as *;
.p-about {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;

  &__timeline {
    grid-column: 1/1;
    grid-row: 1/1;
    display: grid;
  }

  &__text-area {
    grid-column: 2/2;
    grid-row: 1/1;

    display: grid;
    gap: 200px;
    padding-top: 200px;
    padding-bottom: 200px;

    justify-content: center;
    align-content: center;
  }
}
