@use "./../../foundation/global" as *;

.p-works {
  &__mv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 100%;
    // max-height: calc(100vh - 8rem);
    height: calc(100vh - 8rem);
  }

  &__mv video {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: fill;
  }

  &__mv.blog {
    img {
      object-fit: unset;
    }
  }

  &__mv.portfolio {
    display: grid;
    justify-content: center;
    align-content: center;

    img {
      display: block;
      width: 98%;
      margin: 0 auto;
      height: calc(100vh - 14rem);

      @include mq(md) {
        margin-top: 0;
        height: 38vh;
      }
    }

    @include mq(md) {
      margin-top: 0;
      height: 40vh;
      border-bottom: 1px solid;
    }
  }

  &__list {
    padding: 2rem;
    padding-right: 0;
    display: grid;
    gap: 2rem;
    border-bottom: 1px solid;
    grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);

    @include mq(md) {
      margin-top: 0;
      height: 100%;
      border-bottom: 1px solid;
    }
  }

  &__item {
    width: 100%;
    height: calc(100vh - 12rem);
    height: 100%;

    img {
      // object-fit: cover;
      object-position: top;

    }
  }
}
