@use "./../foundation/global" as *;

.l-footer {
  z-index: 2;
  position: fixed;
  padding-bottom: 2rem;
  bottom: 0;
  padding: 1rem;
  padding-top: 0;
  width: 100%;
  background-color: $c-base;

  &__inner{
    height: 3rem;
    width: calc(100vw - 3rem - 2px);
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border: 1px solid;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 2rem;
  }

  &__icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    height: 1.5rem;
    @include mq(sm) {
    }
  }
  &__credit {
    padding-right: 2rem;
    @include mq(sm) {
      gap: 0;
      padding-right: 1rem;
      letter-spacing: 0.2em;
    }
  }
}
