@use "./../foundation/global" as *;

.l-info {
  padding-inline: 1rem;
  background-color: $c-base;
  z-index: 1;
  position: fixed;
  top: 4rem;
  left: 1rem;
  height: calc(100vh - 8rem);
  width: 30rem;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  border-right: 1px solid;
  @include mq(xl) {
    width: 24rem;
  }
  @include mq(md) {
    padding-inline: 2rem;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid;
    position: initial;
    z-index: 0;
    height: auto;
  }



  &__inner {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: left;
  }
  &__title {
  }
  &__split-line {
    width: 96%;
    margin: 0 auto;
    height: 1px;
    background: $c-main;
    opacity: 0.2;
  }
  &__image {
    height: 14rem;
    aspect-ratio: 1/1;
    padding-bottom: 1rem;
  }
}
