@use "./../foundation/global" as *;

.l-header {
  &__navbtn {
    width: max(46px, 2vw);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    color: $c-main;
    z-index: 200;
  }
  &__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  &__navbtn-bar {
  }
}

.l-header__navbtn-bar,
.l-header__navbtn::before,
.l-header__navbtn::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  grid-area: 1/1;
  transition: transform 0.5s;
}

.l-header__navbtn::before {
  transform: translateY(-12px);
}

.l-header__navbtn::after {
  transform: translateY(12px);
}

.nav-body .l-header__navbtn-bar {
  transform: scale(0);
}

.nav-body .l-header__navbtn::before {
  transform: translateY(0) rotate(45deg);
}

.nav-body .l-header__navbtn::after {
  transform: translateY(0) rotate(-45deg);
}

.nav-body .l-header__navbtn {
  color: $c-main;
  // z-index: 200;
}

.nav-body .l-nav {
  z-index: 100;
  visibility: visible;
  opacity: 1;
}
.nav-body .l-footer {
  z-index: 100;
}

.l-nav {
  border-left: solid 1px;
  border-right: solid 1px;
  position: fixed;
  top: 4rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100vh - 8rem + 1px);
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: $c-base;
  visibility: hidden;

  display: grid;
  grid-template-rows: 24rem 1fr;
}

.l-nav {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    width: 20vw;
    @include mq(xl) {
      font-size: 28px;
    }
    @include mq(lg) {
      font-size: 20px;
    }
    @include mq(md) {
      font-size: 16px;
    }
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__item {
    width: 100%;
    height: 100%;
    border-top: 1px solid;
  }
  &__item:hover{
    background-color: $c-main;
    color: $c-base;
    transition: background-color 0.8s;
  }
  &__item a {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  &__desc-heading {
    font-size: fluid(24, 32, 1441, 2550);
    font-weight: bold;
    // padding-bottom: 1rem;

    padding: 1.5rem;
    padding-inline: 2rem;
    text-transform: uppercase;
    @include mq(xl) {
      font-size: 20px;
    }
    @include mq(lg) {
      font-size: 16px;
    }
    @include mq(md) {
      font-size: 24px;
    }
  }
}
